.cube-wrapper {
	perspective: 2000;
	-webkit-perspective: 2000;

	.cube {
		position: relative;
		width: 300px;
		height: 300px;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;

		.rotation-wrapper {
			width: 300px;
			height: 300px;
			position: relative;
			transform-style: preserve-3d;
			-webkit-transform-style: preserve-3d;
			transition: transform 0.3s ease-out;

			@import "square";
			@import "surface";
		}
	}
}
