.cube-handle {
	position: absolute;
	width: 500px;
	height: 500px;
	border: 2.5px solid lightgrey;
	border-radius: 50%;

	&:hover {
		border: 2.5px solid grey;
	}

	$axises: (
		"x": rotateY(90deg) translate3d(0, -100px, -100px),
		"y": rotateX(90deg) translate3d(-100px, 0, 100px),
		"z": translate3d(-100px, -100px, 0)
	);

	@each $axis, $transform in $axises {
		&-#{$axis} {
			transform: $transform;
		}
	}

	$colors: (
		"x": red,
		"y": green,
		"z": blue
	);

	@each $axis, $color in $colors {
		&-#{$axis}-active {
			border: 2.5px solid $color !important;
		}
	}
}